<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #F7DFAD;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >




<%= link_to  menucoremathsoneansandques_index_path  do %>
  <%= image_tag('coremathsintroone/examansandques.png', width:'200px', height: '200px') %>
<% end %>





</div>

<div style="position:absolute; left:700px; top:100px;" >



<%= link_to  coremathsonepastpaperandmarkscheme_index_path  do %>
  <%= image_tag('coremathsintroone/pstPAPERS.png', width:'200px', height: '200px') %>
<% end %>




</div>

<div style="position:absolute; left:300px; top:400px;" >





<%= link_to   coremathsoneformulassection_index_path  do %>
  <%= image_tag('coremathsintroone/formulas.png', width:'200px', height: '200px') %>
<% end %>





</div>

<div style="position:absolute; left:700px; top:400px;" >

 
<%= link_to  coreonemathsnotessection_index_path  do %>
  <%= image_tag('coremathsintroone/notesMATHS.png', width:'200px', height: '200px') %>
<% end %>

</div>






</body>


</html>

