<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #F4092D;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


<%= link_to  menucoremathsfouransandques_index_path  do %>
  <%= image_tag('coremathsintroone/examansandques.png', width:'200px', height: '200px') %>
<% end %>



</div>

<div style="position:absolute; left:700px; top:100px;" >



<%= link_to  coremathsfourpaperandmarkscheme_index_path  do %>
  <%= image_tag('coremathsintroone/pstPAPERS.png', width:'200px', height: '200px') %>
<% end %>


</div>

<div style="position:absolute; left:300px; top:400px;" >

   <%= link_to  coremathsfourformulassection_index_path  do %>
  <%= image_tag('coremathsintroone/formulas.png', width:'200px', height: '200px') %>
<% end %>


</div>

<div style="position:absolute; left:700px; top:400px;" >



    <%= link_to  corefourmathsnotessection_index_path  do %>
  <%= image_tag('coremathsintroone/notesMATHS.png', width:'200px', height: '200px') %>
<% end %>


</div>



<div style="position:absolute; left:900px; top:200px;" >



   
  <%= image_tag('/cofee1.png', width:'200px', height: '200px') %>



</div>




<div style="position:absolute; left:10px; top:200px;" >



   
  <%= image_tag('/bk1.png', width:'250px', height: '200px') %>



</div>






</body>


</html>
