<!Doctype html>
<html>
<head>




<style>


body {

  background-color: #107696;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


  <%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C4/Worksheets-Notes/Edexcel%20C4%20Notes.pdf"  do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p>Pure Core Four Detailed Revision Notes </p>
<% end %>



</div>


<div style="position:absolute; left:700px; top:100px;" >


  <%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C4/Worksheets-Notes/Edexcel%20C4%20Summary.pdf" do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p> Hand-written summary notes for Edexcel Core Four</p>
<% end %>



</div>


<div style="position:absolute; left:300px; top:300px;" >


  <%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C4/Worksheets-Notes/Edexcel%20C4%20Cheat%20Sheet.pdf" do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p> Core Four Cheat Sheet</p>
<% end %>



</div>














</body>


</html>