<!Doctype html>
<html>
<head>




<style>


body {

	background-color: #FFFBAD;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >

<%= link_to  menucoremathsthreeansandques_index_path  do %>
  <%= image_tag('coremathsintroone/examansandques.png', width:'200px', height: '200px') %>
<% end %>


</div>

<div style="position:absolute; left:700px; top:100px;" >



<%= link_to  coremathsthreepaperandmarkscheme_index_path  do %>
  <%= image_tag('coremathsintroone/pstPAPERS.png', width:'200px', height: '200px') %>
<% end %>




</div>


<div style="position:absolute; left:300px; top:400px;" >

 <%= link_to  coremathsthreeformulassection_index_path  do %>
  <%= image_tag('coremathsintroone/formulas.png', width:'200px', height: '200px') %>
<% end %>




</div>

<div style="position:absolute; left:700px; top:400px;" >



   <%= link_to  corethreemathsnotessection_index_path  do %>
  <%= image_tag('coremathsintroone/notesMATHS.png', width:'200px', height: '200px') %>
<% end %>



</div>






</body>


</html>