<!Doctype html>
<html>
<head>




<style>


body {

  background-color: #107696;
}


</style>




</head>


<body>

<div style="position:absolute; left:300px; top:100px;" >


  <%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C3/Worksheets-Notes/Edexcel%20C3%20Notes.pdf"  do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p>Pure Core Three Detailed Notes </p>
<% end %>



</div>


<div style="position:absolute; left:700px; top:100px;" >


  <%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C3/Worksheets-Notes/Edexcel%20C3%20Revision%20Notes.pdf" do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p> Core Three Revision Required Notes With Examples</p>
<% end %>



</div>


<div style="position:absolute; left:300px; top:300px;" >


  <%= link_to  "http://pmt.physicsandmathstutor.com/download/Maths/A-level/C3/Worksheets-Notes/Edexcel%20C3%20Cheat%20Sheet.pdf" do %>
  <%= image_tag('/sticnotes.png', width:'100px', height: '100px') %>
  <p> Core Three Cheat Sheet</p>
<% end %>



</div>














</body>


</html>